.product{
    display: flex;
    gap: 2rem; 
    width:70vw;
    /* border:3px solid black; */
   justify-content: space-around;
   align-items: center;
   background-color: white;
   margin :auto;
   margin-top: 20px;
   margin-bottom: 20px;
   border-radius: 20px;
   box-shadow: rgba(164, 8, 91, 0.2) 0px 8px 24px;
   /* align-items:center */
}
.Pro_img{
    /* border:3px solid rgb(142, 7, 29); */
    width:250px;
    margin-left: 60px;
    padding:20px;
}
.cartProduct{
    position:relative;
    width:800px;
    display:flex;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    /* border:3px solid red; */
    margin-top: 130px;


}

.total{
    height:70px;
    width:400px;
    font-weight: bold;
    background-color: white;;
   border-radius: 10px;
    padding:20px;
   color:black;
   padding-bottom: 10px;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(0, 1, 5, 0.2) 0px 8px 24px;
}


@media only screen and (max-width:400px) {
    #Navbar{
     width:400px;
     text-align: center;
    
    }
    #container{
      grid-template-columns: repeat(1, 1fr);
    }
    
    #container #box{
      width:380px;
      margin:auto;
    }
    #Navbar #rightBox{
     margin-left: 0px;
     }
     
    
    }  