
#Navbar{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: teal;
    padding:20px
  }
  #Navbar a{
    text-decoration: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white
  }
  
  #Navbar .max .logo img {
    height:50px;
    width:60px;
    box-shadow:  rgba(229, 19, 156, 0.918) 2px 2px 20px 2px;
    border-radius: 50%;
    color:  rgba(229, 19, 156, 0.918);
    transition: all 0.3s ease;
  }